.entity-iframe {
  border: none;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100vw;
}

/* From Entity repository: Minimum height for entity is 635, smaller than that it will be cut off at the top and bottom */

/* create top/bottom margin of 40 when window height greater than 835 (= 635 + 2*100) */
@media (min-height: 835px) {
  .entity-iframe {
    top: 60px;
    bottom: 20px;
    height: calc(100% - 80px);
  }
}

/* create top margin of when device-height smaller than 700px so logo doesnt overlap entity on small mobile devices */
@media (max-device-height: 700px) {
  .entity-iframe {
    top: 20px;
  }
}
