.entity-iframe {
  border: none;
  position: fixed;
  top: 125px;
  bottom: 20px;
  height: calc(100% - 145px);
  width: 100vw;
}

/* From Entity repository: Minimum height for entity is 635, smaller than that it will be cut off at the top and bottom */

/* Move down when navbar switches to mobile mode, so iframe remains fully visible. */
@media (min-width: 800px) {
  .entity-iframe {
    top: 60px;
    bottom: 20px;
    height: calc(100% - 80px);
  }
}

/* create top/bottom margin of 40 when window height greater than 835 (= 635 + 2*100) */
/* @media (min-height: 835px) {
  .entity-iframe {
    top: 60px;
    bottom: 20px;
    height: calc(100% - 80px);
  }
} */

/* create top margin of when device-height smaller than 700px so logo doesnt overlap entity on small mobile devices */
@media (max-width: 800px) and (max-device-height: 780px) {
  .entity-iframe {
    top: 150px;
    bottom: 20px;
    height: calc(100% - 170px);
  }
}
