.floating-words {
  position: absolute;
  z-index: 999;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  width: 200px;
  opacity: 0.5;
  font-size: 40px;
  line-height: 1;
  left: -200px;
}

.floating-words--anim1 {
  animation-name: floating-animation1;
  animation-duration: 15s;
}

.floating-words--anim2 {
  animation-name: floating-animation2;
  animation-duration: 18s;
  animation-delay: 1s;
}

@keyframes floating-animation1 {
  0% {
    top: 0;
    left: -200px;
  }

  100% {
    top: 400px;
    left: 100vw;
  }
}

@keyframes floating-animation2 {
  0% {
    top: 50vh;
    left: -200px;
  }

  100% {
    top: 0px;
    left: 100vw;
  }
}
