/* unvisited link */
a:link {
  color: rgb(0, 174, 255);
}

/* visited link */
a:visited {
  color: rgb(0, 174, 255);
}

/* mouse over link */
a:hover {
  color: rgb(81, 200, 255);
}

/* selected link */
a:active {
  color: rgb(151, 222, 255);
} 

.overlay {
  border: 2px solid black;
  position: absolute;
  z-index: 1;
  top: 125px;
  /* left: 10px; */
  width: 100vw;
  height: calc(100vh - 125px);
  overflow: hidden;
  text-transform: lowercase;
}

.overlay__inner {
  position: relative;
  height: 100%;
  overflow: auto;
}

.overlay__inner__content {
  min-height: 100%;
  padding: 10px 30px;
  position: relative;
  max-width: 55rem;
  margin: auto;
}

.overlay__inner__transp-layer {
  background-color: rgb(0, 0, 0);
  opacity: 0.9;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}

.overlay__close {
  position: absolute;
  right: 3px;
  top: 16px;
}

@media (min-width: 800px) {
  .overlay {
    top: 45px;
    width: 100vw;
    height: calc(100vh - 45px);
  }
  .overlay__close {
    right: 31px;
    top: 28px;
  }
}

@media (min-width: 1200px) {
  .overlay__inner__content {
    padding: 20px 60px;
  }
}
