/* unvisited link */
a:link {
  color: rgb(0, 174, 255);
}

/* visited link */
a:visited {
  color: rgb(0, 174, 255);
}

/* mouse over link */
a:hover {
  color: rgb(81, 200, 255);
}

/* selected link */
a:active {
  color: rgb(151, 222, 255);
} 

.overlay {
  position: absolute;
  z-index: 1;
  /* top: 125px; */
  /* left: 10px; */
  width: 97vw;
  height: 100vh;
  overflow: hidden;
  text-transform: lowercase;
  background-color: rgb(0, 0, 0);
  /* border: 1px solid white; */
  /* box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.408); */
  opacity: 0.9;
}

.overlay__inner {
  position: relative;
  height: 100%;
  overflow: auto;
}

.overlay__inner__content {
  min-height: 100%;
  padding: 10px 30px;
  position: relative;
  max-width: 55rem;
  margin: auto;
}

.overlay__inner__transp-layer {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}

.overlay__close {
  position: absolute;
  right: 3px;
  top: 16px;
}

@media (min-width: 800px) {
  .overlay {
    width: 97vw;
    height: 97vh;
  }
  .overlay__close {
    right: 31px;
    top: 28px;
  }
}

@media (min-width: 1200px) {
  .overlay__inner__content {
    padding: 0px 60px;
  }
}
