/* unvisited link */
a:link {
  color: rgb(0, 174, 255);
}

/* visited link */
a:visited {
  color: rgb(151, 151, 151);
}

/* mouse over link */
a:hover {
  color: rgb(81, 200, 255);
}

/* selected link */
a:active {
  color: rgb(151, 222, 255);
} 

.overlay {
  border: 2px solid black;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  overflow: hidden;
  text-transform: lowercase;
}

.overlay__inner {
  position: relative;
  height: 100%;
  overflow: auto;
}

.overlay__inner__content {
  min-height: 100%;
  padding: 10px 30px;
  position: relative;
  max-width: 55rem;
  margin: auto;
}

.overlay__inner__transp-layer {
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;
}

.overlay__close {
  position: absolute;
  right: 3px;
  top: 16px;
}

@media (min-width: 800px) {
  .overlay__close {
    right: 31px;
    top: 28px;
  }
}

@media (min-width: 1200px) {
  .overlay {
    top: 40px;
    left: 170px;
    width: calc(100vw - 340px);
    height: calc(100vh - 80px);
  }

  .overlay__inner__content {
    padding: 20px 60px;
  }
}
