@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

html,
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: rgb(0, 0, 0);
}

.headline-1 {
  font-size: 26px;
  font-weight: normal;
  font-family: "Inconsolata";
  margin-bottom: 50px;
}
