@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

@font-face {
  font-family: "Helvetica Narrow CE Regular";
  src: url("/fonts/HVN_CE.TTF") format("truetype"),
       url("/fonts/HVNCE.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  
}

@font-face {
  font-family: "Helvetica Narrow CE Bold";
  src: url("/fonts/HVNB_CE.TTF") format("truetype"),
       url("/fonts/HVNBCE.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "Helvetica Narrow CE Regular", "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

p {
  margin-bottom: 1em;
}

h1, h2, h3, h4 {
  margin-bottom: 1em;
}

a {
  color: white;
}

.headline-1 {
  font-size: 26px;
  font-weight: normal;
  font-family: "Inconsolata";
  margin-bottom: 50px;
}